<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Play</title>
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--my Style-->
    <link rel="stylesheet" href="/assets/style/style2.css">
    
    <!--my font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <!--Navbar Open-->
<section class="NavigationBar">
  <nav class="container-nav">
      <div class="logo">
          <p>LOGO</p>
      </div>
      <div class="nav-link-1">
        <a href="#">HOME</a>
        <a href="#">WORK</a>
        <a href="#">CONTACT</a>
        <a href="#">ABOUT ME</a>
      </div>
      <div class="nav-link-2">
        <a href="#">SIGN UP</a>
        <a href="/login">LOG IN</a>
      </div>
  </nav>
</section>

<!--CTA Open-->
<section class="container-main-cta main-bg">
  <div class="content">
      <h1>PLAY TRADITIONAL GAME</h1>
      <h3>Experience new traditional game play</h3>
      <a href="/play-game"> <button type="button" class="btn">PLAY NOW</button></a>
     
  </div>
  <div class="footer">
      <p>The story</p>
  </div>
  <div class="scroll-down">
      <img src="/assets/image/scroll down.png" alt="scrolldown">
  </div>
</section>
  <!--CTA Close-->
  <!--About+Galery Open-->
<section class="about-galery">
  <div class="container-about-galery">
    <div class="text-about">
        <h3>What's so special?</h3>
        <h1>THE GAMES</h1>
    </div>
    <div class="Pict-Galery">
        <div class="arrow-left">
            <img class="switch" src="/assets/image/switch-l.png" alt="left">
        </div>

        <div class="game-pict">
            <img src="/assets/image/rockpaperstrategy-1600.jpg" alt="carrousel" width="858px" height="477px";>
            <div class="dot-indicator">
              <img src="/assets/image/bullet-fill.png" alt="bullet-fill">
              <img src="/assets/image/bullet-empty.png" alt="bullet-empty">
              <img src="/assets/image/bullet-empty.png" alt="bullet-empty">
              <img src="/assets/image/bullet-empty.png" alt="bullet-empty">
              <img src="/assets/image/bullet-empty.png" alt="bullet-empty">
            </div>

        </div>
        <div class="arrow-right">
            <img class="switch" src="/assets/image/switch-r.png" alt="Right">
        </div>
    </div>
  </div>
</section>
  <!--About+Galery Close-->
  <!--Game Features Open-->
<section class="container-gameFeature">
  <div class="game-features">
    <div class="text-desc">
        <h3>What's so special?</h3>
        <h1>FEATURES</h1>
    </div>
    <div class="detail-features">
      <div class="bullet-features">
        <div class="bullet1"><img src="/assets/image/bullet-fill.png" alt="bullet1"></div>
        <div class="bullet2"><img src="/assets/image/bullet-empty.png" alt="bullet2"></div>
        <div class="bullet3"><img src="/assets/image/bullet-empty.png" alt="bullet2"></div>
      </div>
      <div class="progress-bar-features">
        <img src="/assets/image/progress bar.png" alt="progressbar">
      </div>
      <div class="text-features">
        <ul>
            <li>TRADITIONAL GAME</li>
            <dl>If you miss your childhood, we provide <br>many traditional games here</dl>
            <li>GAME SUIT</li>
            <li>TBD</li>
        </ul>
      </div>
    </div>
  </div>
</section>
  <!--Game Features close-->
  <!--syst req open-->
<section class="container-systReq">
  <div class="text-desc">
      <h3>Can my computer run this game?</h3>
      <h1>SYSTEM REQUIREMENT</h1>
  </div>
  <div class="detail-req">
      <table class="table">
          <tbody>
              <tr>
                  <td>
                      <h3>OS:</h3>
                      <p>Windows 7 64-bit only<br> (No OSX support at this time)</p>
                  </td>
                  <td>
                      <h3>PROCESSOR:</h3>
                      <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ<p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <h3>MEMORY:</h3>
                      <p>4 GB RAM</p>
                  </td>
                  <td>
                      <h3>STORAGE:</h3>
                      <p>8 GB available space<p>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <h3>GRAPHIC:</h3>
                      <span class="colspan"><p>NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p></span>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
</section>
  <!--syst req close-->
  <!--Press Quote Open-->
<section class="container-pressQuote">
  <div class="text-desc">
      <h1>TOP SCORES</h1>
      <P>This top score from various games provided on this platform</P>
      <button class="btn-warning">see more</button>
  </div>
  <div class="quotes">
      <div class="card-1">
          <div class="quote">
            <div class="profile1">
              <img class="profile-pict1" src="/assets/image/image 8.jpg" alt="people-1">
              <div class="profile-identity">
                  <h3>Evan Lahti</h3>
                  <p>PC Gamer</p>
              </div>
            </div>
              

              <div class="testimoni">
                  <p>
                      “One of my gaming highlights of the year.”
                  </p>
                  <div class="date">June 18, 2021</div>
              </div>
          </div>
      </div>
      <div class="card-2">
          <div class="quote">
              <img class="profile-pict2" src="/assets/image/image 9.jpg" alt="people-2">
              <div class="profile-identity">
                  <h3>Jada Griffin</h3>
                  <p>Nerdreactor</p>
              </div>
            
              <div class="testimoni">
                  <p>
                      “The next big thing in the world of streaming and survival games.”
                  </p>
                  <div class="date">July 10, 2021</div>
              </div>
          </div>
      </div>
      <div class="card-3">
          <div class="quote">
              <img class="profile-pict3" src="/assets/image/image 10.jpg" alt="people-3">
              <div class="profile-identity">
                  <h3>Aaron Williams</h3>
                  <p>Uproxx</p>
              </div>
              
              <div class="testimoni">
                  <p>
                      “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
                  </p>
                  <div class="date">December 24, 2018</div>
              </div>
          </div>
      </div>
  </div>
</section>
  <!--Press Quote Close-->
  <!--Subscribe+Footer Open-->
<section class="container-subscribe bg-color">
  <div class="text-subs">
      <h3>Want to stay in touch?</h3>
      <h1>newsletter SUBSCRIBE </h1> 
      <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
  </div>
  <!-- <div class="click-subscribe">
      <form action="#">
        <div class="container-email">
          <div class="enter-email-label">
            <label for="email">Enter your email:</label>
          </div>
          <div class="enter-email-input">
            <input type="email" id="email" name="email" placeholder="youremail@binar.co.id">
          </div>
        </div>

        <div class="subscribe-btn">
          <button type="button" class="btn">subscribe now</button>
        </div>
      </form> -->
      <div class="bg6 d-flex">
        <div class="container d-flex">
          <div class="col-6"><img src="../img/tottem.png" style="width: 18em; margin-left: 6em" alt="" /></div>
          <div class="col-6">
            <p class="sub-text">Want to stay in touch?</p>
            <h1 class="m-0 p-0">NEWSLETTER</h1>
            <h1 class="m-0 p-0">SUBSCRIBE</h1>
            <p class="sub-text">In order to start recieving our news all ypu ahve to do is enter your email</p>
            <p class="sub-text">address. Everything else will be taken care of by us. We will send you emails</p>
            <p class="sub-text">containing informations about game. We don't spam</p>
            <!-- Form -->
            <div class="input-group mb-3 pt-3" style="width: 400px">
              <input type="text" class="form-control border-0 bg-dark text-white" placeholder="youremail@binar.co.id" aria-label="Recipient's username" aria-describedby="button-addon2" />
              <button class="btn btn-warning main-but" type="button" id="button-addon2">SUBSCRIBE NOW</button>
            </div>
            <!-- End of Form -->
          </div>
        </div>
      </div>
</section>
<section class="footer-end">
  <div class="footer-upper">
    <div class="footer-nav">
      <a href="">MAIN</a>
      <a href="">ABOUT</a>
      <a href="">GAME FEATURES</a>
      <a href="">SYSTEM REQUIREMENTS</a>
      <a href="">QUOTES</a>
  </div>
  <div class="footer-icons">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-facebook" viewBox="0 0 16 16">
          <path
            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
        </svg></a>
      <a class="twitter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-twitter" viewBox="0 0 16 16">
          <path
            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
        </svg></a>
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-youtube" viewBox="0 0 16 16">
          <path
            d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.122C.002 7.343.01 6.6.064 5.78l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
        </svg></a>
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-twitch" viewBox="0 0 16 16">
          <path
            d="M3.857 0L1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429l-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z" />
          <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z" />
        </svg></a>
  </div>
  </div>
  
  <div class="line"></div>
  <div class="copy">
    <div class="sub-copy1">
      <p>&copy; 2018 Your Games, Inc. All Right Reserved</p>
    </div>
    <div class="sub-copy2">
      <a href="#">
        <p>PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
      </a>
    </div>
    
  </div>
      
</section>
  <!--subscribe+Footer Close-->


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>  