
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CLEAR CSS CLOSED*/



/*Navbar*/

.container-nav{
    height: 90px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.container-nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    }
.nav-link-1 a {
    padding: 0 40px;
}
.nav-link-2 a {
    padding: 0 20px;
    margin-right: 60px;
}
.logo {
    margin-left: 107px;
    width: 77px;
    height: 33px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}



/*CTA*/

.container-main-cta {
    height: 960.14px;
    margin-top: -90px;
}

.main-bg{
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url(/assets/image/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content{
    font-family: 'Arial';
    position: relative;
    text-align: center;
    top : 312px;
}

.content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.content h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;
    top: 71px;
}

.content button {
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

    font-size: 16px;
    font-weight: 700;
    height: 60px;
    width: 260px;
    position: relative;
    top: 142px
}

.footer p{
    position: relative;
    top: 720px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.scroll-down{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 720px;
}


/*About+Gallery*/

.container-about-galery {
    height: 1051.43px;
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url(/assets/image/the-games-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.text-about{
    position: relative;
    top: 255px;
    left: 83.5px;
}

.text-about h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.text-about h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 13px;

}

.Pict-Galery{
    margin-top: 292.5px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.arrow-left, .arrow-right{
    position: relative;
    top: 18%;
}

.arrow-left{
    margin-right: 11px;
}

.arrow-right{
    margin-left: 11px;
}

.game-pict .dot-indicator > img {
    position: relative;
    left: 30%;
    margin: 0 25px;
    bottom: 30px;
}

/*Game Features*/

.container-gameFeature{
    height: 870.26px;
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url(/assets/image/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-features{
    color: #FFFFFF;
    margin-left: 900px;
    padding-top: 170px;
}

.text-desc h3 {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.text-features {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 35px;
    text-align: justify;
}

.text-desc h1{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.detail-features{
    display: flex;

}

.bullet-features{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: -12px;
}

.bullet-features > .bullet2, .bullet3{
    position: relative;
    top: 67px;
}

.bullet-features .bullet3{
    position: relative;
    top: 55px;
}

.progress-bar-features {
    position: relative;
    right: 10px;
    top: 65px;
}
.detail-features li{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 48px;
    margin-bottom: 20px;

    color: #FFB548;
}

.detail-features dl {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;
    width: 362px;
    height: 60px;
}

/*System Requirement*/

.container-systReq {
    height: 960px;
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%),url(/assets/image/requirements.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-systReq > .text-desc h3{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 145px;

    color: #FFFFFF;
}

.container-systReq > .text-desc h1{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 3px;
    text-transform: uppercase;

    width: 633px;
    height: 73px;
    padding-top: 40px;
    padding-left: 132px;

    color: #FFFFFF;
}

.detail-req > .table{
    width: 573px;
    height: 400px;
    color: #FFFFFF;
}

.detail-req > table, tr, td {
    border: 1px solid #979797;
}

.table td h3 {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 7.3px;
    margin-left: 10px;

    letter-spacing: 2px;
    color: #FFB548;
}

.table td p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
}

.table td p {
    width: 257px;
    height: 45px;
}

.table td .colspan p{
    width: 514px !important;
    height: 53px !important;
}

.detail-req {
    margin-top: 100px;
    margin-left: 122px;
}



/*Press Quote*/

.container-pressQuote {
    height: 960px;
    background-image: url(/assets/image/top-score-bg.png), url(/assets/image/bg\ image\ 5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.container-pressQuote .text-desc{
    margin-top: 340px;
    margin-left: -80px;
    
}

.container-pressQuote .text-desc > h1{
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.container-pressQuote .text-desc > p {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 70px;
    width: 380px;
    height: 57px;
}

.container-pressQuote .text-desc > button {
    width: 260px;
    height: 60px;
    background-image: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    text-transform: lowercase;
    color: #1A1917;
}

.quotes > .card-1, .card-2, .card-3 {
    width: 452px;
    height: 205px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    top: 190px;
    background-image: url(/assets/image/twitter.svg);
    background-position: 414.5px 30px;
    background-repeat: no-repeat;
    
    
}

.quotes > .card-1, .card-3{
    right: 0px;
}

.quotes > .card-2 {
    right: 144px;
}

.quote {
    background-image: url(/assets/image/Ellipse.png);
    background-repeat: no-repeat;
    position: relative;
    left: 23px;
    top: 15px;
}

.profile-identity{
    position: relative;
    top: 10px;
}
.quotes .profile-identity > h3{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    margin-left: 90px;

    color: #FFB548;
}

.quotes .profile-identity > p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    margin-left: 90px;

    text-align: justify;
    

    color: rgba(255, 255, 255, 0.5);
}

.quotes .testimoni> p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 360px;
    height: 60px;
    margin-left: -5px;
    margin-top: 40px;
    color: #FFFFFF;
}

.quotes .testimoni .date{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-left: -5px;
    margin-bottom: 21.3px;

    color: rgba(255, 255, 255, 0.5);
}

.profile-pict1, .profile-pict2, .profile-pict3 {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    left: -8px;
    z-index: 1;
}

/*Subscribe*/

.bg-color {
    background-color: #080A0B;
}
.container-subscribe {
    height: 960px;
    background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(/assets/image/skull.png);
    background-size: 445px 694px;
    background-repeat: no-repeat;
    background-position: 160px 50px;
}

.text-subs {
    padding-top: 136px;
    margin-left: 675px;
    color: #FFFFFF;
}

.text-subs h3{
    width: 262px;
    height: 28px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

}

.text-subs h1{
    height: 76px;
    width: 600px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;

    margin-top: 45px;
    margin-left: -4px;
}

.text-subs p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 645px;
    height: 137px;
    margin-top: 90px;
    margin-left: -4px;
}

.click-subscribe{
    display: flex;
    flex-direction: row;
}
.container-email{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 60px;
}

.btn {
    width: 260px;
    height: 60px;
}


/*footer*/
.footer-end {
    background-color: #08090A;
    position:relative;
    bottom: 136px;
}
.footer-upper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-right: 136px;
}

.footer-upper .footer-nav a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 40px;
    
}

.footer-icons a {
    margin-left: 55px;
    color: #FFFFFF;
}

.line {
    width: 83%;
    height: 0.873968px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 25px;
}

.copy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    text-decoration: none;
}

.sub-copy1 p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: rgb(255, 255, 255,0.5);
}

.sub-copy2 a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}